<div class="menu-container">
  <ion-modal #modal [isOpen]="isMenuOpen" swipeToClose="true">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title slot="start">¿Qué quieres hacer?</ion-title>
          <ion-buttons slot="end">
            <ion-icon
              name="close"
              size="large"
              (click)="closeMenu()"
            ></ion-icon>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <div class="content-menu">
          <div *ngFor="let item of optionsMenu" class="item-content-menu">
            <option-menu [optionMenu]="item" (click)="goToOption(item.route)"></option-menu>
          </div>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>
</div>
