<ion-content [fullscreen]="true">
  <img src="assets/urbanizacionBg.jpg" alt="Fondo" class="background-image" />

  <div class="ion-padding content-login">
    <div class="logo">
      <img src="assets/logo-color.svg" alt="logo" />
    </div>
    <form class="form-credentials">
      <ion-text color="dark" class="description"
        >Ingrese su usuario y le enviaremos un correo electrónico para
        restablecer su contraseña.</ion-text
      >
      <ion-item>
        <ion-input
          [formControl]="username"
          type="text"
          pattern="^[a-zA-Z0-9\-_.]*$"
          maxlength="14"
          minlength="3"
          placeholder="Usuario"
          class="input"
        ></ion-input>

        <ion-icon name="person-outline"></ion-icon>
      </ion-item>
      <div class="btn-iniciar-sesion">
        <ion-button expand="block" id="open-modal" (click)="recoveryPassword()"
          >Enviar restablecer contraseña</ion-button
        >
      </div>
      <div class="forgot-password">
        <a (click)="goToLogin()">Ir al inicio de sesión</a>
      </div>
    </form>
  </div>

  <!-- MODAL OTP -->
  <ion-modal
    trigger="open-modal"
    [initialBreakpoint]="1"
    [breakpoints]="[0, 1]"
    backdropDismiss="false"
    swipeToClose="false"
    [canDismiss]="canDismiss"
    #modal
  >
    <ng-template>
      <div *ngIf="!showNewPassword">
        <form-otp (validateOtpEvent)="validateOtp($event)"></form-otp>
      </div>
      <div *ngIf="showNewPassword">
        <form-new-password></form-new-password>
      </div>
      <div class="btn-cancel">
        <a (click)="modal.dismiss()">Cancelar</a>
      </div>
    </ng-template>
  </ion-modal>
</ion-content>
