

.container-edit-resident{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 2rem;

    .container-resident{
        width: 30%;

        .item-field{
            padding-left: 1rem;
            margin-top: 1rem;
            display: flex;
            flex-direction: column;
            row-gap: .3rem;
            .title{
                font-size: 1rem;
                font-weight: 600;
            }
            .data{
                display: flex;
                align-items: center;
                gap:.5rem;
                font-size: 1rem;
            }
            ion-icon{
                font-size: 1.3rem;
            }
        }
        .last-field{
            margin-bottom: 1rem;
        }

    }

    .container-homes{
        width: 60%;

        .new-residence{
            margin-bottom: .7rem;
            display: flex;
            justify-content: space-between;
        }
    }

    .general-title{
        display: flex;
        margin-bottom: 1rem;
        font-size: 1.1rem;
        font-weight: 700;

    }
}

@media (max-width: 48rem) {
    .container-edit-resident{
        flex-direction: column;

        .container-resident{
            width: 100%;
        }

        .container-homes{
            width: 100%;
        }
    }
}


