<div class="large-form-container">
    <ion-card >
      <form>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-title>Información del Residente</ion-title>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12" size-md="6">
              <!-- Content for second column -->
              <div class="column-content">
                <div class="column-content">
                  <ion-card-content>
                    <ion-icon name="person" size="large"></ion-icon> Nombre
                  </ion-card-content>
                </div>
                <div class="column-content">
                  <ion-card-content>
                    <ion-icon name="mail" size="large"></ion-icon> Email
                  </ion-card-content>
                </div>
                <div class="column-content">
                  <ion-card-content>
                    <ion-icon name="phone-portrait" size="large"></ion-icon> Phone
                  </ion-card-content>
                </div>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </ion-card>
    <ion-card >
      <form>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-card-header>
                <ion-title><ion-icon name="home" size="large"></ion-icon>Casas</ion-title>
              </ion-card-header>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12" size-md="6">
              <ion-card class="house-card" color="light">
                <ion-icon name="add-circle" style="font-size: 10em;"></ion-icon>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </ion-card>
</div>

