<ion-buttons slot="start">
  <ion-back-button defaultHref="/admin/residents"></ion-back-button>
</ion-buttons>
<div class="container-edit-resident" *ngIf="userData!=null">

  <div class="container-resident general">

    <div class="general-title"><span>Residente</span></div>
    <ion-card>
      <div class="item-field">
        <span class="title">Nombres y Apellidos</span>
        <div class="data">
          <ion-icon name="person-circle"></ion-icon>
          <span>{{ userData.names }} {{ userData.surnames }}</span>
        </div>
      </div>
      <div class="item-field">
        <span class="title">Correo</span>
        <div class="data">
          <ion-icon name="mail-outline"></ion-icon>
          <span>{{ userData.email }}</span>
        </div>
      </div>
      <div class="item-field last-field">
        <span class="title">Celular</span>
        <div class="data">
          <ion-icon name="call"></ion-icon>
          <span>{{ userData.phone }} </span>
        </div>
      </div>
    </ion-card>
  </div>
  <div class="container-homes">

    <div class="new-residence">
     <div class="general-title"><span>Residencias</span></div>
      <ion-button slot="end" (click)="addResidence()">Agregar</ion-button>
  </div>
    <ion-card>
      <ion-row class="ion-justify-content-center">
        <ion-col size="12" size-md="12">
          <ion-grid>
            <ion-row>
              <ion-col size="12" size-md="6" *ngFor="let residence of userData.residences">
                <ion-card class="house-card">
                  <div class="item-field">
                    <span class="title"><b>N°: </b></span><span>{{residence.num}}</span>
                  </div>
                  <div class="item-field">
                    <span class="title"><b>Manzana: </b></span><span>{{ residence.block }}</span>
                  </div>
                  <div class="item-field">
                    <span class="title"><b>Villa: </b></span><span>{{ residence.town }}</span>
                  </div>
                  <div class="actions-container">
                    <ion-button>
                      <ion-icon
                        name="create-outline"
                        size="medium"
                        [routerLink]="['/admin/edit-resident']"
                      />
                    </ion-button>
                    <ion-button color="light">
                      <ion-icon
                        name="trash-outline"
                        size="medium"
                        [routerLink]="['/admin/edit-resident']"
                      />
                    </ion-button>
                  </div>
                </ion-card>
              </ion-col>
              <!-- <ion-col size="12" size-md="6">
                <ion-button class="house-card add-house">
                  <ion-icon name="add-circle-outline"></ion-icon>
                  <span><b>Agregar Residencia</b></span>
                </ion-button>
              </ion-col> -->
            </ion-row>
          </ion-grid>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>
  <ion-modal #modal>
    <ng-template >
      <div id="residence-modal" class="container-modal ion-padding">
        <ion-buttons slot="start">
          <ion-back-button (click)="closeModal()" [defaultHref]="'/admin/edit-resident/'+idResident"></ion-back-button>
          <ion-title>Agregar residencia</ion-title>
        </ion-buttons>
        <div class="column-content">
          <div class="column-content">
            <shared-input
              [type]="'text'"
              [maxlength]="50"
              [minlength]="3"
              [value]="residentForm.get('block')?.value"
              (controlValueChange)="controlValueChange($event,'block')"
              label="Manzana:"
              labelPosition="floating"
            ></shared-input>
          </div>
          <div class="column-content">
            <shared-input
              [type]="'text'"
              [maxlength]="50"
              [minlength]="3"
              [value]="residentForm.get('town')?.value"
              (controlValueChange)="controlValueChange($event,'town')"
              label="Villa:"
              labelPosition="floating"
            ></shared-input>
          </div>
          <div class="column-content">
            <shared-input
              [type]="'text'"
              [pattern]="'^[0-9]*$'"
              [maxlength]="10"
              [minlength]="10"
              [value]="residentForm.get('urbanization')?.value"
              (controlValueChange)="controlValueChange($event,'urbanization')"
              label="Urbanización:"
              labelPosition="floating"
            ></shared-input>
          </div>
          <div class="new-residence">
            <ion-toolbar>
              <ion-button slot="end">Guardar</ion-button>
            </ion-toolbar>
         </div>
        </div>
      </div>
    </ng-template>
  </ion-modal>
</div>
