<shared-header [title]="'Alerta de pánico'"></shared-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="question-alet">Estás a punto de notificar una emergencia</div>
  <div class="container-panic-button">
    <div class="counter">
      <div class="body-counter">
        <span>{{ counter }}</span>
      </div>
    </div>
    <button
      class="btn-class-name"
      (mousedown)="onButtonPress()"
      (touchstart)="onButtonPress()"
      (mouseup)="onButtonRelease()"
      (touchend)="onButtonRelease()"
    >
      <span class="back"></span>
      <span class="front">SOS</span>
    </button>

    <div class="description-alert">
      <span>Presione el botón por 5 segundos para solicitar ayuda</span>
    </div>
  </div>
  <ion-modal id="emergency-modal" #modal>
    <ng-template>
      <div class="container-modal ion-padding">
        <img src="assets/escudo-de-seguridad.png" alt="escudo">
        <span class="message-alert">El guardia atenderá pronto tu emergencia. Manten la calma.</span>
      </div>
    </ng-template>
  </ion-modal>
</ion-content>
