ion-button {
    text-transform: none;
    font-weight: 700;
    letter-spacing: 0;
    font-size: 1rem;
    --padding-top:1rem;
    --padding-bottom:1rem;
    // --background: #2a3240;
    --border-radius: .7rem;
    // --background-hover: #2a3240;
    // --background-activated: #1a253a;
    .label{
      margin-left: .5rem;
    }
    .loading-button{
      margin-left: 1rem;
    }
  }

  .outline{
    --background: var(--silver-50);
    color: black;
  }