<ion-modal [initialBreakpoint]="1" [breakpoints]="[0, 1]" #modalActions>
  <ng-template>
    <div class="title-modal">
      <span>Gestión de Acceso</span>
      <div class="close-icon">
        <ion-icon name="close-outline" (click)="closeActions()"></ion-icon>
      </div>
    </div>
    <div class="container-actions-visitor">
      <div class="body-actions">
        <shared-button [label]="'Permitir'" (click)="openAlert(true)"></shared-button>
        <shared-button [label]="'Rechazar'" (click)="openAlert(false)" [style]="buttonStyleEnum.Danger_Outline"></shared-button>
      </div>
    </div>
  </ng-template>
</ion-modal>
