@import '/src/theme/mixins';

ion-card{
    padding: 1rem;
}
h1{
    width: 100%;
    text-align: center;
    margin: 2rem;
}
.statistics-container{
    display: flex;
    align-items: center;
    gap:1rem;
    width: 100%;
    flex-direction: column;
}

#doughnut-chart-card{
    width: 95%;
    @include sm{
        width: 50%;
    }
}

#linear-chart-card, ion-header{
    width: 95%;
    @include sm{
        width: 70%;
    }
}

ion-header{
    padding: 1rem;
}