.container-profile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 1rem;
  height: 100%;

  .top-profile {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;

    .title-user {
      font-size: 1.7rem;
      font-weight: 700;

      .name-user {
        color: var(--royal-blue-600);
      }
    }
  }
}
