<shared-header [title]="'Perfil'"></shared-header>
<ion-content [fullscreen]="true" class="ion-padding">
  <div class="container-profile">
    <div class="top-profile">
      <div class="title-user">Bienvenid@, <span class="name-user">{{namesUser}}</span></div>
      <card-option
        [iconName]="'home-outline'"
        [label]="'Seleccionar residencia'"
        (click)="openModalMainResidence()"
        *ngIf="isResident()"
      ></card-option>
    </div>

    <card-option
      [iconName]="'log-out-outline'"
      [label]="'Cerrar sesión'"
      [redText]="true"
      (click)="logOut()"
    ></card-option>
  </div>
</ion-content>
