<div class=" large-form-container">
  <ion-card >
    <form>
      <ion-grid>
        <ion-row>
          <ion-col size="12" size-md="6">
            <!-- Content for second column -->
            <div class="column-content">
              <shared-input
                [type]="'text'"
                [pattern]="'^[a-zA-Z0-9\-_.]*'"
                [maxlength]="14"
                [minlength]="3"
                [placeholder]="'Nombres'"
                
              ></shared-input>
              <div class="column-content">
                <shared-input
                  [type]="'text'"
                  [pattern]="'^[a-zA-Z0-9\-_.]*'"
                  [maxlength]="14"
                  [minlength]="3"
                  [placeholder]="'Apellidos'"
                  
                ></shared-input>
              </div>
              <div class="column-content">
                <shared-input
                  [type]="'text'"
                  [pattern]="'^[a-zA-Z0-9\-_.]*'"
                  [maxlength]="14"
                  [minlength]="3"
                  [placeholder]="'Email'"
                  
                ></shared-input>
              </div>
              <div class="column-content">
                <shared-input
                  [type]="'text'"
                  [pattern]="'^[a-zA-Z0-9\-_.]*'"
                  [maxlength]="14"
                  [minlength]="3"
                  [placeholder]="'Telf. Celular'"
                  
                ></shared-input>
              </div>
            </div>
          </ion-col>
          <ion-col size="12" size-md="6">
            <!-- Content for first column -->
            <div class="column-content">
              <shared-input
                [type]="'text'"
                [pattern]="'^[a-zA-Z0-9\-_.]*'"
                [maxlength]="14"
                [minlength]="3"
                [placeholder]="'Usuario'"
                
              ></shared-input>
            </div>
            <div class="column-content">
              <shared-input
              [startIcon]="'lock-closed-outline'"
              [type]="'password'"
              [maxlength]="14"
              [isPassword]="true"
              [minlength]="3"
              [placeholder]="'Contraseña'"
              ></shared-input>
            </div>
            <div class="column-content">
              <shared-input
              [startIcon]="'lock-closed-outline'"
              [type]="'password'"
              [maxlength]="14"
              [isPassword]="true"
              [minlength]="3"
              [placeholder]="'Repetir Contraseña'"
              ></shared-input>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </ion-card>
</div>

