<shared-header [title]="'Visitas'"> </shared-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="container-filter-new-visit">
    <shared-button [label]="'Nueva visita'" id="open-modal"> </shared-button>

    <shared-input
      [startIcon]="'search'"
      [type]="'text'"
      [pattern]="'^[a-zA-Z0-9\-_.]*'"
      [maxlength]="14"
      [minlength]="3"
      [placeholder]="'Buscar visita'"
      (controlValueChange)="controlValueChangeFilter($event)"
    ></shared-input>
  </div>

  <div  *ngIf="isLoadingVisit">
    <div *ngFor="let _ of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]" class="skeleton-item">
      <skeleton-card-visit></skeleton-card-visit>
    </div>
  </div>

  <div
    *ngFor="let visit of listVisits | customFilter : filterInput.value"
    class="item-visit"
  >
    <card-visit
      [visit]="visit"
      (emitOpenDetail)="openDetailVisit($event)"
    ></card-visit>
  </div>
  <router-outlet></router-outlet>
</ion-content>

<ion-modal
  trigger="open-modal"
  [initialBreakpoint]="1"
  [breakpoints]="[0, 1]"
  #modalTypeVisit
>
  <ng-template>
    <div class="block container-type-visit">
      <ion-card class="item-type-visit" (click)="showVisitors('qr')">
        <span>Visita por QR</span>
      </ion-card>
      <ion-card class="item-type-visit" (click)="showVisitors('preatorizada')">
        <span>Visita preautorizada</span>
      </ion-card>
    </div>
  </ng-template>
</ion-modal>

<detail-visit-modal
  [visit]="selectedVisit || null"
  (reset)="resetVisitSelected()"
></detail-visit-modal>
