  ion-content::part(scroll) {
    color: #fff;
  }

  
.background-image {
  position: absolute;
  z-index: -1;
}

.content-login {
  border-radius: 1.25rem 1.25rem 0 0;
  margin-top: 70%;
  background-color: white;
  max-height:calc(100% - 70%); ;
  height: calc(100% - 70%);
  display: flex;
  flex-direction: column;
  gap: 32px;

  .logo {
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;

    img {
      width: 50%;
    }
  }

  .form-credentials {
    ion-item {
      --background: #f1f1f1;
      border-radius: 0.75rem;
      margin-bottom: 1rem;
    }
    .btn-iniciar-sesion {
      margin-top: 2rem;
      ion-button {
        text-transform: none;
        font-weight: 700;
        letter-spacing: 0;
        font-size: 1rem;
        --padding-top: 1rem;
        --padding-bottom: 1rem;
        --background: #2a3240;
        --border-radius: 0.5rem;
        --background-hover: #2a3240;
        --background-activated: #1a253a;
      }
    }
    .forgot-password {
      margin-top: 1rem;
      margin-bottom: 2rem;
      text-align: end;
      a {
        color: #2a3240;
        text-decoration: underline;
        font-weight: bold;
      }
    }
  }
}
