<ion-card>
  <ion-card-content>
    <div class="container-detail-visit">
      <!-- Left column - Circular image -->
      <div class="container-img">
        <ion-icon name="people-circle-outline"></ion-icon>
      </div>

      <!-- Right column - Visitor information -->
      <div class="detail-visit">
        <ion-row>
          <ion-label class="name">{{
            visit.reason || "Visita general" | camelCase
          }}</ion-label>
        </ion-row>
        <ion-row>
          <ion-label class="label">Inicio:</ion-label>
          <ion-label>{{ visit.startDate | customDate }}</ion-label>
        </ion-row>
        <ion-row>
          <ion-label class="label">Estado:</ion-label>
          <ion-label>{{
            visit.status == "EN CURSO"
              ? "En vigencia"
              : (visit.status | camelCase)
          }}</ion-label>
        </ion-row>
      </div>
      <div class="action-visit" (click)="openModal(visit)">
        <ion-icon name="ellipsis-vertical"></ion-icon>
      </div>
    </div>
  </ion-card-content>
</ion-card>
