<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar color="royal-blue-500">
      <ion-buttons slot="start">
      </ion-buttons>
      <ion-button color="primary" size="small" slot="end" style="margin-right: 1rem;" (click)="logOut()"><b>Cerrar Sesión</b></ion-button>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-item *ngFor="let operation of operations" [routerLink]="[operation.route]">
      <ion-label>
        {{operation.name}}
      </ion-label>
    </ion-item>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar  color="royal-blue-500">
      <ion-buttons slot="start">
        <ion-menu-button color="silver-50"></ion-menu-button>
      </ion-buttons>
      <div class="logo">
        <img src="assets/logo-white.svg" alt="logo" />
      </div>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <router-outlet></router-outlet>
  </ion-content>
</div>
