.logo {
  height: 2rem;
  width: 9rem;

  img {
    height: 100%;
    width: 100%;
    color: #000;
    margin-left: 0.5rem;
  }
}
.name-user-small {
  display: none;
}
@media (max-width: 36rem) {
  .name-user {
    opacity: 0;
  }

  .name-user-small {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 8px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border-radius: 1rem;
    padding: 0.5rem;
    margin: 1rem;
  }
}

.out-icon {
  margin-right: 0.5rem;
}

ion-menu ion-title {
  margin-left: 1rem;
  color: #fff;
}

.admin-container {
  display: flex;
  justify-content: center;
}
