.entered{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .3rem;
    border-radius: 1rem;
    padding: .2rem 1rem;
    font-weight: 600;
    color:white;
  }

  .approval{
    background-color: var(--color-green-400);
  }

  .reject{
    background-color: var(--mandy-600);
  }