<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" class="button-back">
      <ion-label (click)="cancel()">Cancelar</ion-label>
    </ion-buttons>
    <ion-title class="ion-text-center">Residencias</ion-title>
    <ion-buttons slot="end" class="button-next">
      <ion-label (click)="confirm()">Confirmar</ion-label>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div class="container-select-residence">
    <div class="title">
      <span>Seleccionar residencia</span>
    </div>
    <div class="list-residences" *ngFor="let residence of listResidences" (click)="changeMainResidence(residence)">
        <card-residence [residence]="residence"></card-residence>
    </div>
  </div>
</ion-content>