<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancelar</ion-button>
    </ion-buttons>
    <ion-title>Residencias</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()" [strong]="true">Confirmar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div class="container-select-residence">
    <div class="title">
      <span>Seleccionar residencia</span>
    </div>
    <div class="list-residences" *ngFor="let residence of listResidences" (click)="changeMainResidence(residence)">
        <card-residence [residence]="residence"></card-residence>
    </div>
  </div>
</ion-content>