<form *ngIf="visitorForm" [formGroup]="visitorForm">
  <div class="container-icon">
    <ion-icon name="people-circle-outline" class="visitor-icon"></ion-icon>
  </div>
  <div class="label">Nombres</div>
  <span
    *ngIf="
      visitorForm.controls['names'].touched &&
      visitorForm.controls['names'].invalid
    "
  >
    <span
      class="error-message"
      *ngIf="visitorForm.controls['names'].errors?.['required']"
    >
      (Campo requerido)
    </span>
    <span
      class="error-message"
      *ngIf="visitorForm.controls['names'].errors?.['minlength']"
    >
      Mínimo 3 carácteres!
    </span>
  </span>
  <!-- INPUT NAMES -->
  <shared-input
    [startIcon]="'person-outline'"
    [type]="'text'"
    [pattern]="'^[ a-zA-ZñÑáéíóúÁÉÍÓÚ]+$'"
    [maxlength]="20"
    [minlength]="3"
    [placeholder]="'Nombres'"
    [value]="visitorForm.get('names')?.value"
    (controlValueChange)="controlValueChangeNames($event)"
    (focusout)="controlFocusout($event, 'names')"
  ></shared-input>

  <div class="label">Apellidos</div>
  <span
    *ngIf="
      visitorForm.controls['surnames'].touched &&
      visitorForm.controls['surnames'].invalid
    "
  >
    <span
      class="error-message"
      *ngIf="visitorForm.controls['surnames'].errors?.['required']"
    >
      (Campo requerido)
    </span>
    <span
      class="error-message"
      *ngIf="visitorForm.controls['surnames'].errors?.['minlength']"
    >
      Mínimo 3 carácteres!
    </span>
  </span>
  <!-- INPUT SURNAMES -->
  <shared-input
    [startIcon]="'person-outline'"
    [type]="'text'"
    [pattern]="'^[ a-zA-ZñÑáéíóúÁÉÍÓÚ]+$'"
    [maxlength]="20"
    [minlength]="3"
    [placeholder]="'Apellidos'"
    [value]="visitorForm.get('surnames')?.value"
    (controlValueChange)="controlValueChangeSurnames($event)"
    (focusout)="controlFocusout($event, 'surnames')"
  ></shared-input>

  <div class="label">Cédula</div>
  <span
    *ngIf="
      visitorForm.controls['docNumber'].touched &&
      visitorForm.controls['docNumber'].invalid
    "
  >
    <span
      class="error-message"
      *ngIf="visitorForm.controls['docNumber'].errors?.['required']"
    >
      (Campo requerido)
    </span>
    <span
      class="error-message"
      *ngIf="visitorForm.controls['docNumber'].errors?.['minlength']"
    >
      (Mínimo 10 dígitos)
    </span>
  </span>
  <!-- INPUT DOCNUMBER -->
  <shared-input
    [startIcon]="'id-card-outline'"
    [type]="'text'"
    [pattern]="'^[0-9]*$'"
    [maxlength]="10"
    [minlength]="10"
    [placeholder]="'Cédula'"
    [value]="visitorForm.get('docNumber')?.value"
    [disabled]="disabled"
    (controlValueChange)="controlValueChangeDocnumber($event)"
    (focusout)="controlFocusout($event, 'docNumber')"
  ></shared-input>

  <div class="label">Celular</div>
  <span
    *ngIf="
      visitorForm.controls['phone'].touched &&
      visitorForm.controls['phone'].invalid
    "
  >
    <span
      class="error-message"
      *ngIf="visitorForm.controls['phone'].errors?.['required']"
    >
      (Campo requerido)
    </span>
    <span
      class="error-message"
      *ngIf="visitorForm.controls['phone'].errors?.['minlength']"
    >
      (Mínimo 10 dígitos)
    </span>
  </span>
  <!-- INPUT PHONE -->
  <shared-input
    [startIcon]="'call-outline'"
    [type]="'text'"
    [pattern]="'^[0-9]*$'"
    [maxlength]="10"
    [minlength]="10"
    [placeholder]="'Celular'"
    [value]="visitorForm.get('phone')?.value"
    (controlValueChange)="controlValueChangePhone($event)"
    (focusout)="controlFocusout($event, 'phone')"
  ></shared-input>
</form>
