<ion-modal #modal [isOpen]="true">
  <ng-template>
    <shared-header
      [title]="'Visita QR'"
      [urlBack]="'guard-gate/tabs/visit/visitors/list-visitors'"
      [backIcon]="true"
      (backClick)="closeModal()"
    >
    </shared-header>
    <ion-content
      [fullscreen]="true"
      class="ion-padding"
      id="containerQR"
      #containerQR
    >
      <div class="container-qr">

        <div class="title-qr">Visitantes ({{selectedVisitors.length}})</div>
        <selected-visitors
          [listVisitor]="selectedVisitors"
          (changeVisitors)="changeVisitors()"
        >
        </selected-visitors>

        <div class="form-qr" [formGroup]="visitForm">

          <div class="item-input">
            <label>Fecha de inicio de validez</label>
            <shared-select-date
              [isOpen]="isOpenDateTime"
              (selectedDateTime)="selectedDateTime($event)"
            >
            </shared-select-date>
            <div class="select-datetime" (click)="openDateTimeModal()">
              <span>{{ startDateValue.split(",")[0] }}</span>
              <span>{{ startDateValue.split(",")[1] }}</span>
            </div>
          </div>
          <div class="item-input">
            <label>Horas de validez</label>

            <ion-select
              label="Horas"
              justify="space-between"
              class="select-hours"
              interface="action-sheet"
              placeholder="0H"
              formControlName="validityHours"
            >
              <ion-select-option value="1">1H</ion-select-option>
              <ion-select-option value="3">3H</ion-select-option>
              <ion-select-option value="6">6H</ion-select-option>
              <ion-select-option value="12">12H</ion-select-option>
              <ion-select-option value="24">24H</ion-select-option>
            </ion-select>
          </div>
          <div class="item-input">
            <label>Motivo de visita (opcional)</label>
            <div class="container-input-reason">
              <shared-input
              [type]="'text'"
              [maxlength]="30"
              [placeholder]="'Motivo'"
              (controlValueChange)="controlValueReason($event)"
            ></shared-input>
            </div>
          </div>
        </div>
      </div>
      <router-outlet></router-outlet>
    </ion-content>
    <ion-footer collapse="fade" class="footer">
      <shared-button [label]="'Crear Visita'" (click)="saveVisitQR()" [isLoading]="isLoadingVisit">
      </shared-button>
    </ion-footer>
  </ng-template>
</ion-modal>
