<shared-header [title]="'Visita QR'" [backUrl]="'guard-gate/tabs/visit/list-visit'"> </shared-header>
<ion-content
  [fullscreen]="true"
  class="ion-padding"
  id="containerQR"
  #containerQR
>
  <div class="container-qr">
    <!-- <div class="title-qr">Preautorizar por QR</div> -->

    <div class="qrcodeImage">
      <div class="logo">
        <img src="assets/logo-white.svg" alt="logo" />
      </div>

      <ng-container *ngIf="!mainResidence; else residenceDetails">
        <ion-skeleton-text
          [animated]="true"
          style="width: 70%; height: 1rem;"
        ></ion-skeleton-text>
      </ng-container>

      <ng-template #residenceDetails>
        <div>
          {{ mainResidence.residence.urbanization | camelCase }}
          Mz.{{ mainResidence.residence.block }} V.{{ mainResidence.residence.town }}
        </div>
      </ng-template>

      <qrcode
        [qrdata]="'https://github.com/Cordobo/angularx-qrcode'"
        [allowEmptyString]="true"
        [ariaLabel]="'QR Code image with the following content...'"
        [cssClass]="'center'"
        [colorDark]="'#2755e9'"
        [colorLight]="'#ffffffff'"
        [elementType]="'canvas'"
        [errorCorrectionLevel]="'M'"
        [imageSrc]="'./assets/icono-guard-gate.png'"
        [imageHeight]="40"
        [imageWidth]="40"
        [margin]="0"
        [scale]="1"
        [title]="'A custom title attribute'"
        [width]="210"
      ></qrcode>
      <div>Autorizado por: {{ user.names }} {{ user.surnames }}</div>
      <div class="description-qr">
        Código válido para un ingreso desde 10/12/2023 23H00 hasta 11/12/2023
        23H55
      </div>
    </div>
    <shared-button [label]="'Seleccionar visitantes'" (click)="showVisitors()">
    </shared-button>

    <div class="form-qr" [formGroup]="visitForm">
      <div class="item-input">
        <label>Fecha de inicio de validez</label>
        <ion-datetime-button
          class="select-datetime"
          datetime="datetime"
        ></ion-datetime-button>

        <ion-modal [keepContentsMounted]="true">
          <ng-template>
            <ion-datetime  id="datetime" ngDefaultControl></ion-datetime>
          </ng-template>
        </ion-modal>
      </div>
      <div class="item-input">
        <label>Horas de validez</label>

        <ion-select
          label="Horas"
          justify="space-between"
          class="select-hours"
          interface="action-sheet"
          placeholder="0H"
          formControlName="validityHours"
        >
          <ion-select-option value="1">1H</ion-select-option>
          <ion-select-option value="3">3H</ion-select-option>
          <ion-select-option value="6">6H</ion-select-option>
          <ion-select-option value="12">12H</ion-select-option>
          <ion-select-option value="24">24H</ion-select-option>
        </ion-select>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</ion-content>
