ion-content {
  --background: var(--silver-50);
}

.button-back {
  --color: var(--silver-950);
  font-weight: 600;
}

.custom-loading {
  ion-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
