<ion-modal #modal [isOpen]="true">
  <ng-template>
    <shared-header
      [cancelButton]="true"
      [urlBack]="'/guard-gate/visitors'"
      (backClick)="closeModalVisitors()"
      [title]="'Nuevo visitante'"
    ></shared-header>
    <ion-content class="ion-padding">
      <form-visitor
        [validForm]="validVisitForm"
        (visitorFormEvent)="visitorFormEvent($event)"
        (validVisitFormEvent)="setValidForm($event)"
      ></form-visitor>
      <shared-button
        [label]="'Guardar'"
        (click)="saveVisitor()"
        [isLoading]="isLoadingSave"
      >
      </shared-button>
    </ion-content>
  </ng-template>
</ion-modal>
