<ion-tabs>
  <ion-tab-bar slot="bottom" class="container-tabs">
    <ion-tab-button tab="home" class="tab-item" *ngIf="userRole == 'RESIDENTE'">
      <ion-icon name="home-outline"></ion-icon>
      Inicio
    </ion-tab-button>
    <ion-tab-button tab="visit" class="tab-item" *ngIf="userRole == 'RESIDENTE'">
      <ion-icon name="location-outline"></ion-icon>
      Visitas
    </ion-tab-button>
    <ion-tab-button tab="scanner" class="tab-item" *ngIf="userRole == 'OPERATIVO'">
      <ion-icon name="qr-code-outline"></ion-icon>
      Escanear
    </ion-tab-button>

    <ion-tab-button class="label-menu-tab tab-item" *ngIf="userRole == 'RESIDENTE'"> Menu </ion-tab-button>

    <ion-tab-button tab="residence" class="tab-item" *ngIf="userRole == 'OPERATIVO'">
      <ion-icon name="home-outline"></ion-icon>
      Residencias
    </ion-tab-button>

    <ion-tab-button tab="panic-alert" class="tab-item" *ngIf="userRole == 'RESIDENTE'">
      <ion-icon name="notifications-outline"></ion-icon>
      Alerta
    </ion-tab-button>

    <ion-tab-button tab="profile" class="tab-item" >
      <ion-icon name="person-outline"></ion-icon>
      Perfil
    </ion-tab-button>
  </ion-tab-bar>

  <app-menu *ngIf="userRole == 'RESIDENTE'"></app-menu>
</ion-tabs>

<ion-fab slot="fixed" class="ion-fab-component" *ngIf="userRole == 'RESIDENTE'">
  <ion-fab-button
    (click)="openModalMenu()"
    [style]="{ contain: 'none content' }"
    class="menu-tab"
    [style.width.px]="50"
    [style.height.px]="50"
    [style.marginTop.px]="-34"
    [style.marginBottom.px]="7"
    [style.--box-shadow]="'0 5px 10px blue'"
  >
    <ion-icon name="grid-outline"></ion-icon
  ></ion-fab-button>
</ion-fab>

<ion-modal id="emergency-modal" #modal *ngIf="userRole == 'OPERATIVO'">
  <ng-template>
    <div class="container-modal ion-padding">
      <span class="message-alert">{{dataEmergency.residences[0].urbanization}}</span>
      <img src="assets/escudo-de-seguridad.png" alt="escudo">
      <span class="message-alert">Hay una emergencia de seguridad</span>
      <span class="message-alert">Mz.{{dataEmergency.residences[0].block}} / V.{{dataEmergency.residences[0].town}}</span>
    </div>
  </ng-template>
</ion-modal>
