.tab-item {
  background-color: white;
  font-size: 0.8rem;
  ion-icon {
    width: 1.5rem;
  }
}

.label-menu-tab {
  margin-top: 25px;
}

.ion-fab-component {
  left: 50%;
  transform: translateX(-50%);
  bottom: 3%;
}


ion-modal#emergency-modal {
  --width: 90%;
  --min-width: 250px;
  --height: fit-content;
  --border-radius: 6px;
  --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);

  .container-modal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;

    .message-alert{
      text-align: center;
      font-size: 1.2rem;
      font-weight: 700;
    }
    
    img{
      object-fit: cover;
      width: 7rem;
      height: 7rem;
    }
  }
  
}
