.tab-item {
  background-color: white;
  font-size: 0.8rem;
  ion-icon {
    width: 1.5rem;
  }
}

.label-menu-tab {
  margin-top: 25px;
}

.ion-fab-component {
  left: 50%;
  transform: translateX(-50%);
  bottom: 3%;
}
