.container-card{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 1rem;

    .container-icon-home{
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;

        .img-home{
            height: 100%; 
            border-radius: 10px;
            background-color: red;
        }
        
    }

    .home-data{
        width: 80%;
        .resident-name{
            font-weight: 700;
        }
    }

}