.container-card{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 1rem;

    .container-icon-home{
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;

        .icon-home{
            font-size: 3rem;
        }
    }

    .home-data{
        width: 80%;
        .resident-name{
            font-weight: 700;
        }
    }

}