<ion-card>
  <ion-card-content>
    <div class="container-detail-visit">
      <!-- Left column - Circular image -->
      <div class="container-img">
        <ion-thumbnail slot="start" class="circular-image">
          <ion-skeleton-text [animated]="true"></ion-skeleton-text>
        </ion-thumbnail>
      </div>

      <!-- Right column - Visitor information -->
      <div class="detail-visit">
        <ion-row>
          <ion-skeleton-text [animated]="true"></ion-skeleton-text>
        </ion-row>
        <ion-row class="skeleton">
          <ion-skeleton-text [animated]="true"></ion-skeleton-text>
        </ion-row>
        <ion-row class="skeleton">
          <ion-skeleton-text [animated]="true"></ion-skeleton-text>
        </ion-row>
      </div>
      <div class="action-visit" >
        <ion-thumbnail slot="start" class="circular-action">
          <ion-skeleton-text [animated]="true"></ion-skeleton-text>
        </ion-thumbnail>
      </div>
    </div>
  </ion-card-content>
</ion-card>
