<div class="container-item-residence">
  <ion-thumbnail slot="start" class="circular-thumbnail">
      <ion-skeleton-text [animated]="true"></ion-skeleton-text>
  </ion-thumbnail>
  <div class="description-residence">
      <span class="names-visitor">
          <ion-skeleton-text [animated]="true"></ion-skeleton-text>
      </span>
      <div class="home">
          <ion-skeleton-text [animated]="true"></ion-skeleton-text>
          <ion-skeleton-text [animated]="true"></ion-skeleton-text>
      </div>
  </div>
</div>
