.content-recovery {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;

  .title-otp {
    display: flex;
    flex-direction: column;
    font-weight: 700;
    gap: 5px;
    ion-icon {
      font-size: 36px;
      margin-right: 8px;
    }
    span {
      margin-top: 5px;
      font-size: 24px;
    }
  }

  ion-item {
    --background: #f1f1f1;
    border-radius: 0.75rem;
  }

  .btn-recovery {
    ion-button {
      text-transform: none;
      font-weight: 700;
      letter-spacing: 0;
      font-size: 1rem;
      margin-top: 8px;
      --padding-top: 1rem;
      --padding-bottom: 1rem;
      --background: #2a3240;
      --border-radius: 0.5rem;
      --background-hover: #2a3240;
      --background-activated: #1a253a;
    }
  }
}
