<div class="content-recovery ion-padding">
  <div class="title-otp">
    <ion-icon name="lock-closed"></ion-icon>
    <span>Restablecer contraseña</span>
  </div>
  <ion-item>
    <ion-input
      type="password"
      formControlName="password"
      placeholder="Nueva contraseña"
      class="input"
    ></ion-input>
    <ion-icon name="lock-closed-outline"></ion-icon>
  </ion-item>
  <ion-item>
    <ion-input
      type="password"
      formControlName="password"
      placeholder="Confirmar contraseña"
      class="input"
    ></ion-input>
    <ion-icon name="lock-closed-outline"></ion-icon>
  </ion-item>
  <div class="btn-recovery">
    <ion-button expand="block" id="open-modal">Restablecer</ion-button>
  </div>
</div>
