<div class="content-recovery ion-padding">
  <div class="title-otp">
    <ion-icon name="lock-closed"></ion-icon>
    <span>Restablecer contraseña</span>
  </div>
  <!-- INPUT NEW PASSWORD -->
  <shared-input
    [startIcon]="'lock-closed-outline'"
    [type]="'password'"
    [maxlength]="14"
    [isPassword]="true"
    [minlength]="3"
    [placeholder]="'Contraseña'"
    [setFocus]="setFocusNewPassword"
    (controlValueChange)="controlValueChangeNewPassword($event)"
  ></shared-input>

  <!-- INPUT CONFIRM PASSWORD -->
  <shared-input
    [startIcon]="'lock-closed-outline'"
    [type]="'password'"
    [maxlength]="14"
    [isPassword]="true"
    [minlength]="3"
    [placeholder]="'Contraseña'"
    [setFocus]="setFocusConfirmPassword"
    (controlValueChange)="controlValueChangeConfirmPassword($event)"
  ></shared-input>
  <div class="btn-recovery">
    <shared-button 
      [label]="'Restablecer'" 
      (click)="recoveryPassword()">
    </shared-button>
  </div>
</div>
