ion-modal {
  --height: auto;
}
.container-detail-visit {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;

    .close-icon{
      display: flex;
      justify-content: flex-end;
      ion-icon {
        font-size: 1.3rem;
      }
    }

    .header-detail {
      display: flex;
      gap: 1.5rem;

      .container-img {
        display: flex;
        align-items: center;

        ion-icon {
          color: var(--silver-300);
          font-size: 3rem;
        }
      }

      .reason-visit {
        .reason-title {
          display: block;
          font-size: 1.2rem;
          font-weight: 600;
        }

        .date-visit {
          display: block;
          font-size: 0.9375rem;
        }
      }
    }

    .body-detail {
      margin-top: 1.5rem;
      display: flex;
      flex-direction: column;
      row-gap: 1rem;
      .container-visitors {
        display: flex;
        flex-direction: column;
        row-gap: .8rem;

        .group-title-status{
          display: flex;
          justify-content: space-between;
          .visitors-title{
            display: flex;
            align-items: center;
            font-size: 1rem;
            font-weight: 600;
          }

          .status-visit{
            background-color: var(--color-green-500);
            color:white;
            padding: .2rem .6rem;
            border-radius: .5rem;
          }


        }

        .list-visitors {
          .item-visitor {
            display: flex;
            justify-content: space-between;
            align-items: center;

            ion-icon {
              color: var(--silver-700);
              font-size: 1.5rem;
            }

            .item-left{
              display: flex;
              gap: 1.5rem;
              align-items: center;
            }
          }
        }
      }
    }
  }