<ion-modal
  [isOpen]="isOpenDetail"
  [initialBreakpoint]="1"
  [breakpoints]="[0, 1]"
  #modalTypeVisit
  (ionModalDidDismiss)="modalDidDismiss()"
  #modalDetailVisit
>
  <ng-template>
    <div class="container-detail-visit">
      <div class="close-icon">
        <ion-icon name="close-outline" (click)="closeDetail()"></ion-icon>
      </div>
      <div class="header-detail">
        <div class="container-img">
          <ion-icon name="people-circle-outline"></ion-icon>
        </div>
        <div class="reason-visit">
          <span class="reason-title">{{ selectedVisit.reason! | camelCase }}</span>
        </div>
      </div>
      <div class="range-date">
        <div class="date-visit">
          <ion-icon name="calendar-outline"></ion-icon>
          <span>Fecha inicio: {{ selectedVisit.startDate! | customDate }}</span>
        </div>
        <div class="date-visit">
          <ion-icon name="calendar-outline"></ion-icon>
          <span>Fecha fin: {{ selectedVisit.endDate! | customDate }}</span>
        </div>
      </div>
      <div class="body-detail">
        <div class="container-visitors">
          <div class="group-title-status">
            <span class="visitors-title"
              >Visitantes ({{ selectedVisit.visitors.length }})</span
            >
            <span
              class="status-visit"
              [ngClass]="{
                cancel: selectedVisit.status == statusVisit.CANCELLED,
                pending: selectedVisit.status == statusVisit.PENDING,
                progress: selectedVisit.status == statusVisit.IN_PROGRESS ,
                complete: selectedVisit.status == statusVisit.FULFILLED
              }"
            >
              {{ selectedVisit.status | camelCase }}</span
            >
          </div>
          <div class="list-visitors">
            <div
              class="item-visitor"
              *ngFor="let visitor of selectedVisit.visitors"
            >
              <div class="item-left">
                <shared-avatar
                  [initials]="
                    (visitor.names | initialsVisitor).concat(
                      visitor.surnames | initialsVisitor
                    )
                  "
                ></shared-avatar>
                <span>{{ visitor.names }} {{ visitor.surnames }}</span>
              </div>

              <ion-icon
                *ngIf="
                  selectedVisit.status != pendingState &&
                  visitor.hasEntered != null
                "
                name="caret-forward-outline"
                (click)="openDetailVisitor(visitor)"
              ></ion-icon>
            </div>
          </div>
        </div>
        <shared-button
          *ngIf="selectedVisit.status == pendingState"
          [label]="'Cancelar visita'"
          [icon]="'trash-outline'"
          [style]="buttonStyleEnum.Danger_Outline"
          (click)="openAlert(selectedVisit)"
        ></shared-button>
      </div>
    </div>

    <detail-visit-by-visitor
      [visitor]="selectedVisitor"
      (reset)="resetVisitorSelected()"
    ></detail-visit-by-visitor>
  </ng-template>
</ion-modal>
