.container-detail-visit {
    display: flex;
    gap: 1rem;
    height: 60px;
    justify-content: space-between;
  }
  .container-img {
    width: 15%;
    display: flex;
    align-items: center;

    .circular-image {
      --border-radius: 60%;
      object-fit: cover;
      width: 3rem;
      height: 3rem;
    }
  }

  .detail-visit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 64%;
    row-gap: .5rem;

    .skeleton{
      margin-top: .2rem;
      width: 80%;
    }
  }

  .action-visit {
    width: 21%;
    display: flex;
    margin-right: .3rem;
    justify-content: end;
    align-items: center;

    .circular-action {
      --border-radius: 60%;
      object-fit: cover;
      width: 2rem;
      height: 2rem;
    }
  }
