<ion-modal #modal [isOpen]="true">
  <ng-template>
    <shared-header [title]="'Visitantes'" (backClick)="closeModal()" [backUrl]="getBackRoute()"></shared-header>
    <ion-content class="ion-padding">
      <div class="container-list-visitors">
        <shared-button
          [label]="'Nuevo visitante'"
          id="open-modal"
          *ngIf="!isNewVisit"
          (click)="goToNewVisitor()"
        >
        </shared-button>
        <shared-input
          [startIcon]="'search'"
          [type]="'text'"
          [pattern]="'^[a-zA-Z0-9\-_.]*'"
          [maxlength]="14"
          [minlength]="3"
          [placeholder]="'Buscar visitante'"
          (controlValueChange)="controlValueChangeFilter($event)"
        ></shared-input>

        <selected-visitors
          [listVisitor]="listVisitorsSelected"
          *ngIf="listVisitorsSelected.length > 0"
        ></selected-visitors>

        <div class="list-visitors">
          <item-visitor
            *ngFor="
              let visitor of listVisitors | customFilter : filterInput.value
            "
            [visitor]="visitor"
            [isNewVisit]="isNewVisit"
            (changeVisitors)="changeVisitor()"
          ></item-visitor>
        </div>
      </div>
      <div></div>
    </ion-content>
    <ion-footer collapse="fade" class="ion-padding" *ngIf="isNewVisit">
      <shared-button
        [label]="'Confirmar visitantes'"
        class="confirm-button"
        (click)="confirmVisitors()"
        [disabled]="!(listVisitorsSelected.length > 0)"
      >
      </shared-button>
    </ion-footer>
  </ng-template>
</ion-modal>

<ion-router-outlet></ion-router-outlet>
