
    .button-back{
        --color: var(--silver-950);
        font-weight: 600;
    }


ion-content {
  --background: var(--silver-50);
}
.container-list-visitors {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  .list-visitors{
    display: flex;
    flex-direction: column;
    row-gap: .9rem;
  }
}
