<ion-modal #modal [isOpen]="true">
  <ng-template>
    <shared-header
      [title]="isNewVisit ?'Añade visitantes' : 'Visitantes'"
      (backClick)="closeModal()"
      [urlBack]="getBackRoute()"
      [cancelButton]="isNewVisit && true"
      [backIcon]="!isNewVisit && true"
      [disabledNextButton]="listVisitorsSelected.length==0"
      [urlNext]="isNewVisit ?'/guard-gate/tabs/visit/add-visit-qr': ''"
    ></shared-header>
    <ion-content class="ion-padding">
      <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
      <div class="container-list-visitors">
        <shared-button
          [label]="'Nuevo visitante'"
          id="open-modal"
          *ngIf="!isNewVisit"
          (click)="goToNewVisitor()"
        >
        </shared-button>
        <shared-input
          [startIcon]="'search'"
          [type]="'text'"
          [pattern]="'^[a-zA-Z0-9\-_.]*'"
          [maxlength]="14"
          [minlength]="3"
          [placeholder]="'Buscar visitante'"
          (controlValueChange)="controlValueChangeFilter($event)"
        ></shared-input>

        <selected-visitors
          [listVisitor]="listVisitorsSelected"
          *ngIf="listVisitorsSelected.length > 0"
          (changeVisitors)="changeVisitor()"
        ></selected-visitors>

        <div class="list-visitors">
          <item-visitor
            *ngFor="
              let visitor of listVisitors | customFilter : filterInput.value
            "
            [visitor]="visitor"
            [isNewVisit]="isNewVisit"
            (changeVisitors)="changeVisitor()"
          ></item-visitor>
        </div>
      </div>
      <div></div>
    </ion-content>
  </ng-template>
</ion-modal>

<ion-router-outlet></ion-router-outlet>
