<ion-content [fullscreen]="true">
  <div class="background-home">
    <div class="logo">
      <img src="assets/logo-white.svg" alt="logo" />
    </div>
  </div>
  <div class="container-dashboard" *ngIf="userRole == 'RESIDENTE'">
    <div class="container-home-information">
      <home-information [home]="mainResidence"></home-information>
    </div>

    

    <div class="last-visits">
      <span class="tittle">Últimas visitas</span>
      <div class="list-last-visits">
        <div *ngFor="let visit of visitData" >
          <last-visit [visit]="visit"></last-visit>
        </div>
      </div>
    
    </div>

    <div class="panic-button" >
      <span>Botón de pánico</span>
      <ion-icon name="megaphone-outline"></ion-icon>
    </div>
    <div class="last-visits">
      <span class="tittle">Visitas pendientes</span>
      <div class="list-last-visits">
        <div *ngFor="let visit of visitData" >
          <last-visit [visit]="visit"></last-visit>
        </div>
      </div>
    
    </div>
  </div>


</ion-content>
