<ion-card>
  <div class="container-card">
    <div class="container-icon-home">
      <ion-thumbnail slot="start" class="skeleton-photo">
        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
      </ion-thumbnail>
    </div>

    <div class="skeleton-home-data">
      <ion-skeleton-text [animated]="true"></ion-skeleton-text>
      <ion-skeleton-text [animated]="true"></ion-skeleton-text>
      <ion-skeleton-text [animated]="true"></ion-skeleton-text>
    </div>
  </div>
</ion-card>
