<div class="container-pending-visit">
  <div class="title-ske">
    <ion-skeleton-text [animated]="true"></ion-skeleton-text>
  </div>
  <div class="circle">
    <ion-thumbnail slot="start" >
      <ion-skeleton-text [animated]="true" class="circle-ske"></ion-skeleton-text>
    </ion-thumbnail>
  </div>


  <div class="skeleton-pending-visit">
    <ion-skeleton-text [animated]="true"></ion-skeleton-text>
    <ion-skeleton-text [animated]="true"></ion-skeleton-text>
    <ion-skeleton-text [animated]="true"></ion-skeleton-text>
  </div>
</div>
